[Unit]
Description=immich microservices
Documentation=https://github.com/immich-app/immich
Requires=redis-server.service
Requires=postgresql.service

[Service]
User=immich
Group=immich
Type=simple
Restart=on-failure
UMask=0077

ExecStart=/bin/bash /home/immich/app/start.sh microservices

SyslogIdentifier=immich-microservices
StandardOutput=append:/var/log/immich/microservices.log
StandardError=append:/var/log/immich/microservices.log

[Install]
WantedBy=multi-user.target