[Unit]
Description=immich web server
Documentation=https://github.com/immich-app/immich
Requires=redis-server.service
Requires=postgresql.service
Requires=immich-ml.service
Requires=immich-microservices.service

[Service]
User=immich
Group=immich
Type=simple
Restart=on-failure
UMask=0077

ExecStart=/bin/bash /home/immich/app/start.sh immich

SyslogIdentifier=immich-web
StandardOutput=append:/var/log/immich/web.log
StandardError=append:/var/log/immich/web.log

[Install]
WantedBy=multi-user.target